# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.tgz
*.log
*.lock

# Optional npm cache directory
.npm/

# Yarn integrity file
.yarn-integrity

# Local configuration files
locales/*.json
.json

#files
.docx

# mock data
server/src/db/*.json
*.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
